:root[data-theme="dark"] {
--text-primary: #f8f9fc;
--text-primary-same: #101828;
--text-secondary: #e4e7ec;
--text-tertiary: #d0d5dd;
--text-quaternary: #818da2;
--text-disabled-same: #818da2;
--text-placeholder-same: #818da2;
--text-brand: #4c7dff;
--text-brand-disabled-alt: #818da2;
--text-brand-disabled: #4c7dff;
--text-ondark-primary: #101828;
--text-ondark-primary-same: #ffffff;
--text-ondark-secondary-same: #d0d5dd;
--text-ondark-brand-same: #4c7dff;
--text-negative-same: #f44f4f;
--text-negative-alt: #d0d5dd;
--text-new-same: #f96161;
--text-decrease: #4c7dff;
--text-increase-same: #f44f4f;
--text-steady: #f8f9fc;
--fg-primary: #f8f9fc;
--fg-secondary: #e4e7ec;
--fg-tertiary: #d0d5dd;
--fg-quaternary: #818da2;
--fg-disabled: #475467;
--fg-brand-same: #005df9;
--fg-brand-disabled: rgba(0, 93, 249, 0.25);
--fg-ondark-primary-same: #ffffff;
--fg-ondark-disabled: rgba(255, 255, 255, 0.5);
--fg-success-same: #005df9;
--fg-negative-same: #e53838;
--fg-notice-same: #f6810c;
--fg-informative: #818da2;
--fg-increase-same: #f44f4f;
--fg-steady: #f8f9fc;
--fg-decrease: #4c7dff;
--border-primary: #475467;
--border-primary-strong-same: #818da2;
--border-primary-heavy: #f8f9fc;
--border-secondary: #344054;
--border-tertiary: #182230;
--border-disabled: #344054;
--border-brand: #4c7dff;
--border-brand-disabled: rgba(0, 93, 249, 0.25);
--border-decrease: #4c7dff;
--border-negative-same: #e53838;
--border-increase-same: #f44f4f;
--bg-canvas-white: #0c111d;
--bg-canvas-white-elevated: #101828;
--bg-white: #344054;
--bg-white-elevated: rgba(102, 112, 133, 0.2);
--bg-canvas-gray-light: #101828;
--bg-canvas-gray: #000000;
--bg-graylight: rgba(255, 255, 255, 0.05);
--bg-gray: rgba(255, 255, 255, 0.1);
--bg-ongray-graylight-a5: rgba(255, 255, 255, 0.05);
--bg-ongray-gray-a10: rgba(255, 255, 255, 0.1);
--bg-gray-strong-same: #818da2;
--bg-disabled: rgba(102, 112, 133, 0.3);
--bg-brand: rgba(0, 93, 249, 0.25);
--bg-brand-selected-disabled: rgba(0, 93, 249, 0.25);
--bg-brand-strong-same: #005df9;
--bg-dark: #f8f9fc;
--bg-dark-a90-same: rgba(24, 34, 48, 0.9);
--bg-canvas-dark-a60: rgba(0, 0, 0, 0.8);
--bg-success: rgba(0, 93, 249, 0.25);
--bg-notice: rgba(229, 119, 8, 0.3);
--bg-negative: rgba(244, 79, 79, 0.3);
--bg-decrease: rgba(0, 93, 249, 0.25);
--bg-increase: rgba(244, 79, 79, 0.3);
--bg-new: rgba(244, 79, 79, 0.3);
--bg-new-strong-same: #f44f4f;
--bg-dark-a20: rgba(255, 255, 255, 0.2);
--bg-dark-a10: rgba(255, 255, 255, 0.1);
--bg-canvas-white-a0: rgba(12, 17, 29, 0);
--bg-canvas-white-a0-elevated: rgba(16, 24, 40, 0);
--bg-canvas-white-a30-elevated: rgba(16, 24, 40, 0.3);
--bg-canvas-white-a70-elevated: rgba(16, 24, 40, 0.7);
}