:root[data-text-size="large"] {
--font-family-digital-one: Oneshinhan;
--font-size-headline-l: 40px;
--font-size-title-xl: 30px;
--font-size-title-l: 27px;
--font-size-title-m: 24px;
--font-size-title-s: 21px;
--font-size-headline-m: 36px;
--font-size-headline-s: 32px;
--font-size-body-l: 24px;
--font-size-body-m: 21px;
--font-size-body-s: 18px;
--font-size-detail-l: 18px;
--font-size-detail-s: 17px;
--font-weight-eb: EB;
--font-weight-b: Bold;
--font-weight-sb-b: Bold;
--font-weight-sb-m: Medium;
--font-weight-m-m: Medium;
--font-weight-m-l: Light;
--font-weight-r: Light;
--letterspace-headline-l: -0.800000011920929px;
--letterspace-title-xl: -0.6000000238418579px;
--letterspace-body-l: -0.47999998927116394px;
--letterspace-detail-l: -0.36000001430511475px;
--letterspace-num-headline-l: -0.800000011920929px;
--letterspace-num-headline-m: -0.7200000286102295px;
--letterspace-num-headline-s: -0.6399999856948853px;
--letterspace-num-title-xl: -0.6000000238418579px;
--letterspace-num-title-l: -0.5400000214576721px;
--letterspace-num-title-m: -0.47999998927116394px;
--letterspace-num-title-s: -0.41999998688697815px;
--letterspace-num-body-l: -0.47999998927116394px;
--letterspace-num-body-m: -0.41999998688697815px;
--letterspace-num-body-s: -0.36000001430511475px;
--letterspace-num-detail-l: -0.36000001430511475px;
--letterspace-num-detail-s: -0.3400000035762787px;
--letterspace-detail-s: -0.3400000035762787px;
--letterspace-body-m: -0.41999998688697815px;
--letterspace-body-s: -0.36000001430511475px;
--letterspace-title-l: -0.5400000214576721px;
--letterspace-title-m: -0.47999998927116394px;
--letterspace-title-s: -0.41999998688697815px;
--letterspace-headline-m: -0.7200000286102295px;
--letterspace-headline-s: -0.6399999856948853px;
--lineheight-headline-l: 60px;
--lineheight-title-xl: 45px;
--lineheight-title-l: 40px;
--lineheight-title-m: 36px;
--lineheight-title-s: 32px;
--lineheight-headline-m: 54px;
--lineheight-headline-s: 48px;
--lineheight-body-l: 40px;
--lineheight-body-m: 32px;
--lineheight-body-s: 33px;
--lineheight-detail-l: 30px;
--lineheight-detail-s: 27px;
}