:root[data-theme="light"],
:root {
--text-primary: #101828;
--text-primary-same: #101828;
--text-secondary: #344054;
--text-tertiary: #475467;
--text-quaternary: #667085;
--text-disabled-same: #818da2;
--text-placeholder-same: #818da2;
--text-brand: #005df9;
--text-brand-disabled-alt: #94abfa;
--text-brand-disabled: #94abfa;
--text-ondark-primary: #ffffff;
--text-ondark-primary-same: #ffffff;
--text-ondark-secondary-same: #d0d5dd;
--text-ondark-brand-same: #4c7dff;
--text-negative-same: #e53838;
--text-negative-alt: #e53838;
--text-new-same: #f44f4f;
--text-decrease: #005df9;
--text-increase-same: #f44f4f;
--text-steady: #344054;
--fg-primary: #101828;
--fg-secondary: #344054;
--fg-tertiary: #667085;
--fg-quaternary: #818da2;
--fg-disabled: #d0d5dd;
--fg-brand-same: #005df9;
--fg-brand-disabled: #c2d3ff;
--fg-ondark-primary-same: #ffffff;
--fg-ondark-disabled: rgba(255, 255, 255, 0.5);
--fg-success-same: #005df9;
--fg-negative-same: #e53838;
--fg-notice-same: #f6810c;
--fg-informative: #667085;
--fg-increase-same: #f44f4f;
--fg-steady: #344054;
--fg-decrease: #005df9;
--border-primary: #d0d5dd;
--border-primary-strong-same: #818da2;
--border-primary-heavy: #101828;
--border-secondary: #e4e7ec;
--border-tertiary: #f0f4fa;
--border-disabled: #d0d5dd;
--border-brand: #005df9;
--border-brand-disabled: #c2d3ff;
--border-decrease: #005df9;
--border-negative-same: #e53838;
--border-increase-same: #f44f4f;
--bg-canvas-white: #ffffff;
--bg-canvas-white-elevated: #ffffff;
--bg-white: #ffffff;
--bg-white-elevated: #ffffff;
--bg-canvas-gray-light: #f8f9fc;
--bg-canvas-gray: #f0f4fa;
--bg-graylight: #f8f9fc;
--bg-gray: #f0f4fa;
--bg-ongray-graylight-a5: rgba(102, 112, 133, 0.05);
--bg-ongray-gray-a10: rgba(102, 112, 133, 0.1);
--bg-gray-strong-same: #818da2;
--bg-disabled: #f0f4fa;
--bg-brand: #ebf0ff;
--bg-brand-selected-disabled: #c2d3ff;
--bg-brand-strong-same: #005df9;
--bg-dark: #101828;
--bg-dark-a90-same: rgba(24, 34, 48, 0.9);
--bg-canvas-dark-a60: rgba(12, 17, 29, 0.6);
--bg-success: #ebf0ff;
--bg-notice: #fff7ee;
--bg-negative: #fff6f5;
--bg-decrease: #ebf0ff;
--bg-increase: #fff6f5;
--bg-new: #ffdddb;
--bg-new-strong-same: #f44f4f;
--bg-dark-a20: rgba(12, 17, 29, 0.2);
--bg-dark-a10: rgba(12, 17, 29, 0.1);
--bg-canvas-white-a0: rgba(255, 255, 255, 0);
--bg-canvas-white-a0-elevated: rgba(255, 255, 255, 0);
--bg-canvas-white-a30-elevated: rgba(255, 255, 255, 0.3);
--bg-canvas-white-a70-elevated: rgba(255, 255, 255, 0.7);
}