@charset "UTF-8";
@font-face {
  font-family: "OneShinhan";
  font-style: normal;
  font-weight: 400;
  src: local("OneShinhanLight"), url("../../fonts/OneShinhanLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "OneShinhan";
  font-style: normal;
  font-weight: 500;
  src: local("OneShinhanMedium"), url("../../fonts/OneShinhanMedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "OneShinhan";
  font-style: normal;
  font-weight: 700;
  src: local("OneShinhanBold"), url("../../fonts/OneShinhanBold.woff") format("woff");
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "OneShinhan";
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, fieldset {
  border: 0;
}

em, address {
  font-style: normal;
}

html,
body {
  height: 100%;
  background: #fff;
}

textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
  overflow-x: hidden;
  letter-spacing: -0.5px;
  font-family: "OneShinhan", AppleSDGothic, "Apple SD Gothic Neo", sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  color: #121619;
}

button {
  background: none;
  border: none;
}

strong {
  font-weight: 700;
}

/* 자동완성 스타일 변경 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  border-radius: 12px;
}

/* 이미지 저장, 텍스트 선택 방지 */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*img {pointer-events: none;} 접근성 수정*/
/*
* layout
*/
html {
  --safeAreaInsetTop: constant(safe-area-inset-top);
  --safeAreaInsetTop: env(safe-area-inset-top);
  --safeAreaInsetBottom: constant(safe-area-inset-bottom);
  --safeAreaInsetBottom: env(safe-area-inset-bottom);
  --containerPaddingBottom: 40px;
  --stickyBottomMargin: 16px;
}

:focus {
  outline: 2px solid var(--brand-500, #005df9);
}

body.is-hold {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.blind {
  display: block;
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  background: none;
}

/* asis 소스 */
#contents-area {
  position: relative;
  min-height: calc(100vh - 56px - var(--safeAreaInsetBottom));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contents-area > .container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding: 32px 20px calc(var(--containerPaddingBottom) + var(--safeAreaInsetBottom));
}

.has-sticky-button #contents-area > .container {
  padding-bottom: var(--containerPaddingBottom);
}

.sticky-button.button-group {
  position: sticky;
  z-index: 110;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -20px;
  padding: 20px 20px 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, white 10px);
}

.sticky-button.button-group::after {
  content: "";
  display: block;
  height: var(--safeAreaInsetBottom);
  min-height: var(--stickyBottomMargin);
}

.sticky-button.button-group.no-floating {
  position: relative;
  z-index: 1;
}

.button-group .button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.button-group .button-row:last-child {
  margin-bottom: 0;
}

.button-group .button-row.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-group .button-row.button-scroll-down {
  margin-bottom: 0;
}

.button-group .button-row.button-scroll-down .label::before {
  content: "";
  position: relative;
  display: inline-block;
  left: -2px;
  top: -2px;
  vertical-align: middle;
  background-position: -168px -192px;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button-group .button-row + .button-row {
  margin-top: -8px;
}

/* */
.navigation {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: #fff;
}

.navigation-header {
  display: flex;
  align-items: center;
  padding: 0 4px 0 8px;
}

.navigation-header-link {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 0;
}

.navigation-header-link img {
  width: 28px;
  height: 28px;
}

.navigation-title {
  color: var(--text-primary);
  font-size: var(--font-size-title-l);
  font-weight: bold;
  line-height: 1;
}

.navigation-function {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-button {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation-button.alarm:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 3px;
  height: 3px;
  background-color: #000;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation-button img {
  width: 24px;
  height: 24px;
}

.content-area-2 {
  padding: 72px 20px 0;
  background: #F0F4FA linear-gradient(180deg, var(--Background-bg-canvas_white, #FFF) -2.53%, var(--Background-bg-canvas_white_a0, rgba(255, 255, 255, 0)) 17.97%);
}

.content-area-2-title {
  color: var(--Text-text-secondary, #344054);
  font-family: OneShinhan;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 161.111% */
  letter-spacing: -0.36px;
}

.content-box {
  margin-top: var(--spacing-xl, 12px);
  padding: var(--spacing-4xl, 32px) var(--spacing-2xl, 20px) var(--spacing-3xl, 24px) var(--spacing-2xl, 20px);
  border-radius: var(--radius-xl, 16px);
  background: var(--Background-bg-canvas_white-elevated, #FFF);
  box-shadow: 0 4px 16px 0 rgba(12, 17, 29, 0.06);
}

.content-box-list {
  display: flex;
  width: 100%;
}

.content-box-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.content-box-list li + li {
  border-left: 1px solid var(--Border-border-tertiary, #F0F4FA);
}

.content-box-list-title {
  color: var(--Text-text-tertiary, #475467);
  text-align: center;
  font-family: var(--font-FontName, OneShinhan);
  font-size: var(--size-body-M, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--lineheight-body-M, 24px);
  letter-spacing: var(--letterspace-body-M, -0.28px);
}

.content-box-list-value {
  color: var(--Text-text-primary, #101828);
  text-align: center;
  /* Title/XL(24∙B)(22∙B) */
  font-family: var(--font-FontName, OneShinhan);
  font-size: var(--size-title-XL, 22px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--lineheight-title-XL, 33px); /* 150% */
  letter-spacing: var(--letterspace-title-XL, -0.44px);
}

.content-notice {
  padding: var(--spacing-4xl, 32px) var(--spacing-2xl, 20px);
}

.content-notice-title {
  color: var(--Text-text-secondary, #344054);
  font-family: var(--font-FontName, OneShinhan);
  font-size: var(--size-title-M, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--lineheight-title-M, 26px);
  letter-spacing: var(--letterspace-title-M, -0.32px);
}

.content-notice-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--spacing-md, 8px);
  gap: var(--spacing-lg, 12px);
  align-self: stretch;
}

.content-notice-list li {
  color: var(--Text-text-tertiary, #475467);
  font-family: var(--font-FontName, OneShinhan);
  font-size: var(--size-body-M, 14px);
  font-style: normal;
  font-weight: 300;
  line-height: var(--lineheight-body-M, 24px);
  letter-spacing: var(--letterspace-body-M, -0.28px);
}

.solid-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-area {
  height: 56px;
}

.content-area {
  display: flex;
  padding: var(--spacing-xl) var(--spacing-2xl);
  flex-direction: column;
  height: calc(100vh - 56px);
}

.headline-large {
  font-size: var(--font-size-headline-s);
  line-height: var(--lineheight-headline-s);
  letter-spacing: var(--letterspace-headline-s);
}

.headline-medium {
  font-size: var(--font-size-headline-m);
  line-height: var(--lineheight-headline-s);
  letter-spacing: var(--letterspace-headline-m);
}

.headline-small {
  font-size: var(--font-size-headline-s);
  line-height: var(--lineheight-headline-s);
  letter-spacing: var(--letterspace-headline-s);
}

.title-xl {
  font-size: var(--font-size-title-xl);
  line-height: var(--lineheight-title-xl);
  letter-spacing: var(--letterspace-title-xl);
}

.title-large {
  font-size: var(--font-size-title-l);
  line-height: var(--lineheight-title-l);
  letter-spacing: var(--letterspace-title-l);
}

.title-medium {
  font-size: var(--font-size-title-m);
  line-height: var(--lineheight-title-m);
  letter-spacing: var(--letterspace-title-m);
}

.title-small {
  font-size: var(--font-size-title-s);
  line-height: var(--lineheight-title-s);
  letter-spacing: var(--letterspace-title-s);
}

.body-large {
  font-size: var(--font-size-body-l);
  line-height: var(--lineheight-body-l);
  letter-spacing: var(--letterspace-body-l);
}

.body-medium {
  font-size: var(--font-size-body-m);
  line-height: var(--lineheight-body-m);
  letter-spacing: var(--letterspace-body-m);
}

.body-small {
  font-size: var(--font-size-body-s);
  line-height: var(--lineheight-body-s);
  letter-spacing: var(--letterspace-body-s);
}

.detail-large {
  font-size: var(--font-size-detail-l);
  line-height: var(--lineheight-detail-l);
  letter-spacing: var(--letterspace-detail-l);
}

.detail-small {
  font-size: var(--font-size-detail-s);
  line-height: var(--lineheight-detail-s);
  letter-spacing: var(--letterspace-detail-s);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.text-primary {
  color: var(--text-primary);
}

.text-primary-same {
  color: var(--text-primary-same);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-quaternary {
  color: var(--text-quaternary);
}

.text-disabled-same {
  color: var(--text-disabled-same);
}

.text-placeholder-same {
  color: var(--text-placeholder-same);
}

.text-brand {
  color: var(--text-brand);
}

.text-brand-disabled-alt {
  color: var(--text-brand-disabled-alt);
}

.text-brand-disabled {
  color: var(--text-brand-disabled);
}

.text-ondark-primary {
  color: var(--text-ondark-primary);
}

.text-ondark-primary-same {
  color: var(--text-ondark-primary-same);
}

.text-ondark-secondary-same {
  color: var(--text-ondark-secondary-same);
}

.text-ondark-brand-same {
  color: var(--text-ondark-brand-same);
}

.text-negative-same {
  color: var(--text-negative-same);
}

.text-negative-alt {
  color: var(--text-negative-alt);
}

.text-new-same {
  color: var(--text-new-same);
}

.text-decrease {
  color: var(--text-decrease);
}

.text-increase-same {
  color: var(--text-increase-same);
}

.text-steady {
  color: var(--text-steady);
}

.font-weight-eb {
  font-weight: var(--font-weight-eb);
}

.font-weight-b {
  font-weight: var(--font-weight-b);
}

.font-weight-sb-b {
  font-weight: var(--font-weight-sb-b);
}

.font-weight-sb-m {
  font-weight: var(--font-weight-sb-m);
}

.font-weight-m-m {
  font-weight: var(--font-weight-m-m);
}

.font-weight-m-l {
  font-weight: var(--font-weight-m-l);
}

.font-weight-r {
  font-weight: var(--font-weight-r);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mt-spacing-none {
  margin-top: var(--spacing-none);
}

.mt-spacing-xs {
  margin-top: var(--spacing-xs);
}

.mt-spacing-sm {
  margin-top: var(--spacing-sm);
}

.mt-spacing-md {
  margin-top: var(--spacing-md);
}

.mt-spacing-lg {
  margin-top: var(--spacing-lg);
}

.mt-spacing-xl {
  margin-top: var(--spacing-xl);
}

.mt-spacing-2xl {
  margin-top: var(--spacing-2xl);
}

.mt-spacing-3xl {
  margin-top: var(--spacing-3xl);
}

.mt-spacing-4xl {
  margin-top: var(--spacing-4xl);
}

.mt-spacing-5xl {
  margin-top: var(--spacing-5xl);
}

.mt-spacing-6xl {
  margin-top: var(--spacing-6xl);
}

.mt-spacing-7xl {
  margin-top: var(--spacing-7xl);
}

.content-image {
  flex: 1;
  margin-top: var(--spacing-4xl);
  width: 100%;
  height: auto;
}
.content-image img {
  width: 100%;
  height: 100%;
}

.modal-dimmed-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3xl);
}
.modal-dimmed-popup.show {
  display: flex;
}
.modal-container-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--bg-canvas-white-elevated);
  padding: var(--spacing-4xl) var(--spacing-2xl) var(--spacing-2xl) var(--spacing-2xl);
}
.modal-box-button-group {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-3xl);
}
.modal-box-button-row {
  flex: 1;
  width: calc(50% - var(--spacing-sm));
}
.modal-box-button-row:first-child {
  margin-right: var(--spacing-md);
}

.solid-button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  border: 0;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.solid-button:focus-visible, .solid-button:focus {
  outline: 2px solid var(--brand-500);
  outline-offset: 2px;
}
.solid-button.disabled {
  background-color: var(--bg-disabled) !important;
  color: var(--text-disabled-same) !important;
  cursor: not-allowed;
}
.solid-button.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark-a10);
}
.solid-button.rounded {
  border-radius: var(--radius-full) !important;
  background-color: var(--bg-gray);
  color: var(--text-secondary);
}
.solid-button.rounded.outline {
  border: 1px solid var(--border-secondary);
  background-color: transparent;
  color: var(--text-secondary);
}
.solid-button.rounded.outline.disabled {
  background-color: transparent !important;
}
.solid-button.primary {
  background-color: var(--bg-brand-strong-same);
  color: var(--text-ondark-primary-same);
  border-color: var(--border-brand);
}
.solid-button.primary:active:not(:disabled) {
  background-color: var(--bg-dark-a20);
}
.solid-button.primary.disabled {
  color: var(--text-disabled-same) !important;
  background-color: var(--bg-disabled) !important;
}
.solid-button.primary.loading::after {
  background-color: var(--bg-dark-a20);
}
.solid-button.secondary {
  background-color: var(--bg-brand);
  color: var(--text-brand);
  border: 0;
}
.solid-button.secondary:active:not(:disabled) {
  background-color: var(--bg-dark-a10);
}
.solid-button.secondary.disabled {
  background-color: var(--fg-disabled);
  border-color: var(--border-disabled);
  color: var(--text-ondark-primary-same);
}
.solid-button.neutral {
  background-color: var(--bg-gray);
  color: var(--text-primary);
  border: 0;
}
.solid-button.neutral:active:not(:disabled) {
  background-color: var(--bg-dark-a10);
}
.solid-button.neutral.disabled {
  background-color: var(--fg-disabled);
  border-color: var(--border-disabled);
  color: var(--text-ondark-primary-same);
}
.solid-button.outline {
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--border-secondary);
}
.solid-button.outline.disabled {
  background-color: var(--bg-disabled) !important;
  border-color: var(--border-disabled) !important;
  color: var(--text-disabled-same) !important;
}
.solid-button.ghost {
  background-color: transparent;
  padding: var(--spacing-none);
  color: var(--text-brand);
  border-radius: var(--radius-xs);
  gap: var(--spacing-sm);
  border: none;
}
.solid-button.ghost:focus-visible {
  outline: 2px solid var(--brand-500);
  outline-offset: 2px;
}
.solid-button.ghost:active:not(:disabled) {
  background-color: var(--bg-dark-a10);
}
.solid-button.ghost.disabled {
  background-color: transparent !important;
}
.solid-button.ghost.primary {
  color: var(--text-brand);
}
.solid-button.ghost.secondary {
  color: var(--text-secondary);
}
.solid-button.underline {
  background-color: transparent;
  padding: 0 0 2px;
  color: var(--text-brand);
  border-radius: 0;
  border-bottom: 0;
  box-sizing: border-box;
}
.solid-button.underline:focus-visible {
  outline: 2px solid var(--brand-500);
  outline-offset: 2px;
  border-radius: var(--radius-xxs);
}
.solid-button.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  clear: both;
  width: 100%;
  height: 2px;
  background-color: var(--text-brand);
}
.solid-button.underline.disabled {
  color: var(--text-disabled-same) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.solid-button.underline.disabled::before {
  background-color: var(--text-disabled-same) !important;
}
.solid-button.underline:active:not(:disabled) {
  background-color: var(--bg-dark-a10);
  border-radius: var(--radius-xxs);
}
.solid-button.underline.primary {
  color: var(--text-brand);
}
.solid-button.underline.primary::before {
  background-color: var(--text-brand);
}
.solid-button.underline.secondary {
  color: var(--text-secondary);
}
.solid-button.underline.secondary::before {
  background-color: var(--text-secondary);
}
.solid-button.extra-large {
  height: 56px;
  padding: var(--spacing-lg);
  border-radius: var(--radius-xl);
}
.solid-button.extra-large .label {
  padding: var(--spacing-none) var(--spacing-sm);
  font-size: var(--font-size-title-l);
  line-height: var(--lineheight-title-l);
}
.solid-button.extra-large .lottie-animation {
  width: 24px;
  height: 24px;
}
.solid-button.extra-large .left-icon,
.solid-button.extra-large .right-icon {
  width: 24px;
  height: 24px;
}
.solid-button.extra-large.underline .label {
  padding: 0;
  font-size: var(--font-size-title-xl);
  line-height: var(--lineheight-title-xl);
}
.solid-button.large {
  height: 48px;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
}
.solid-button.large .label {
  padding: var(--spacing-none) var(--spacing-sm);
  font-size: var(--font-size-body-l);
  line-height: var(--lineheight-body-l);
}
.solid-button.large .lottie-animation {
  width: 20px;
  height: 20px;
}
.solid-button.large .left-icon,
.solid-button.large .right-icon {
  width: 20px;
  height: 20px;
}
.solid-button.large.underline .label {
  padding: 0;
  font-size: var(--font-size-title-l);
  line-height: var(--lineheight-title-l);
}
.solid-button.large.outline .label {
  padding: var(--spacing-none) var(--spacing-sm);
  font-size: var(--font-size-body-l);
  line-height: var(--lineheight-body-l);
}
.solid-button.medium {
  height: 40px;
  padding: var(--spacing-md);
  border-radius: var(--radius-sm);
}
.solid-button.medium .label {
  padding: var(--spacing-none) var(--spacing-sm);
  font-size: var(--font-size-body-m);
  line-height: var(--lineheight-body-m);
}
.solid-button.medium .lottie-animation {
  width: 16px;
  height: 16px;
}
.solid-button.medium .left-icon,
.solid-button.medium .right-icon {
  width: 16px;
  height: 16px;
}
.solid-button.medium.underline .label {
  padding: 0;
  font-size: var(--font-size-title-m);
  line-height: var(--lineheight-title-m);
}
.solid-button.small {
  height: 32px;
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
}
.solid-button.small .label {
  padding: var(--spacing-none) var(--spacing-sm);
  font-size: var(--font-size-body-s);
  line-height: var(--lineheight-body-s);
}
.solid-button.small .lottie-animation {
  width: 14px;
  height: 14px;
}
.solid-button.small .left-icon,
.solid-button.small .right-icon {
  width: 14px;
  height: 14px;
}
.solid-button.small.underline .label {
  padding: 0;
  font-size: var(--font-size-body-m);
  line-height: var(--lineheight-body-m);
}
.solid-button.extra-small {
  height: 24px;
  border-radius: var(--radius-xs);
  padding: var(--spacing-xs) var(--spacing-xs);
}
.solid-button.extra-small .label {
  padding: var(--spacing-none) var(--spacing-xs);
  font-size: var(--font-size-detail-l);
  line-height: 20px;
}
.solid-button.extra-small .lottie-animation {
  width: 12px;
  height: 12px;
}
.solid-button.extra-small .left-icon,
.solid-button.extra-small .right-icon {
  width: 12px;
  height: 12px;
}
.solid-button.extra-small.underline .label {
  padding: 0;
  font-size: var(--font-size-title-s);
  line-height: var(--lineheight-title-s);
}
.solid-button .label {
  position: relative;
  display: inline-block;
}
.solid-button .left-icon {
  display: flex;
  align-items: center;
  justify-content: start;
}
.solid-button .right-icon {
  display: flex;
  align-items: center;
  justify-content: end;
}
.solid-button.full-width {
  width: 100%;
}

.test-component {
  color: var(--text-primary);
  font-size: var(--font-size-body-m);
  padding: var(--spacing-md);
  background-color: var(--bg-canvas-white);
  border-radius: var(--radius-md);
}

.test-button {
  background-color: var(--brand-500);
  color: var(--white);
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-body-m);
  font-weight: var(--font-weight-m-m);
}

.watch-test {
  background-color: var(--palette-new-blue-500);
  color: var(--white);
  padding: var(--spacing-lg);
  border-radius: var(--radius-lg);
  margin: var(--spacing-md);
}

.realtime-test {
  background-color: var(--palette-new-red-500);
  color: var(--white);
  padding: var(--spacing-xl);
  border-radius: var(--radius-xl);
  margin: var(--spacing-lg);
  font-size: var(--font-size-title-m);
  font-weight: var(--font-weight-b);
}

.final-test {
  background-color: var(--palette-new-purple-500);
  color: var(--white);
  padding: var(--spacing-2xl);
  border-radius: var(--radius-2xl);
  margin: var(--spacing-xl);
  font-size: var(--font-size-title-l);
  font-weight: var(--font-weight-eb);
  text-align: center;
}
/*# sourceMappingURL=all.css.map */
