.basic-chip {
  min-height: 36px;
  border-radius: 18px;
  width: fit-content;
  padding: var(--spacing-none) var(--spacing-lg);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.basic-chip-label-container {
  display: flex;
  gap: var(--spacting-none) var(--spacting-sm);
}

.basic-chip-number {
  color: var(--text-brand);
}