<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Web Component</title>
    <link rel="stylesheet" href="../../../css/tokens.css">
    <script src="../../../script/components/label/label-component.js"></script>
</head>
<body>

    <!-- Solid 타입 -->
    <label-component type="solid" variant="blue">텍스트</label-component>
    <label-component type="solid" variant="cyan">텍스트</label-component>
    <label-component type="solid" variant="green">텍스트</label-component>
    <label-component type="solid" variant="yellow">텍스트</label-component>
    <label-component type="solid" variant="orange">텍스트</label-component>
    <label-component type="solid" variant="red">텍스트</label-component>
    <label-component type="solid" variant="gray">텍스트</label-component>
    <label-component type="solid" variant="blue">텍스트</label-component>

    <!-- Line 타입 -->
    <label-component type="line" variant="red">텍스트</label-component>
    <label-component type="line" variant="orange">텍스트</label-component>
    <label-component type="line" variant="yellow">텍스트</label-component>
    <label-component type="line" variant="olive">텍스트</label-component>
    <label-component type="line" variant="celery">텍스트</label-component>
    <label-component type="line" variant="green">텍스트</label-component>
    <label-component type="line" variant="seaform">텍스트</label-component>
    <label-component type="line" variant="cyan">텍스트</label-component>
    <label-component type="line" variant="gray">텍스트</label-component>
    <label-component type="line" variant="blue">텍스트</label-component>
    <label-component type="line" variant="indigo">텍스트</label-component>
    <label-component type="line" variant="purple">텍스트</label-component>
    <label-component type="line" variant="fushia">텍스트</label-component>
    <label-component type="line" variant="magenta">텍스트</label-component>

    <!-- Tint 타입 -->
    <label-component type="tint" variant="blue">텍스트</label-component>
    <label-component type="tint" variant="cyan">텍스트</label-component>
    <label-component type="tint" variant="green">텍스트</label-component>
    <label-component type="tint" variant="yellow">텍스트</label-component>
    <label-component type="tint" variant="orange">텍스트</label-component>
    <label-component type="tint" variant="red">텍스트</label-component>



</body>
</html>
