<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Chip</title>
    <link rel="stylesheet" href="filter-chip.css">
</head>
<body>
    <div class="filter-chip">
        <div class="filter-chip-label-container">
            <span class="filter-chip-label">Filter 1</span>
            <span class="filter-chip-number">1</span>
        </div>
        <div class="extend-icon">
            <button class="filter-control"><img src="assets/icons/arrow-down.svg" alt="arrow-down" /></button>
        </div>
    </div>
</body>
</html>